.tlo{
    width: 300px;
    height: 924px;
    background-color: #808080;
    margin-right: auto;
}

.kwadrat1{
    width: 200px;
    height: 200px;
    background-color: #fea500;
    margin: auto;
}

.kwadrat2{
    width: 200px;
    height: 200px;
    background-color: #fea500;
    margin: auto;
}

.kwadrat3{
    width: 200px;
    height: 200px;
    background-color: #fea500;
    margin: auto;
}

.kwadrat4{
    width: 200px;
    height: 200px;
    background-color: #fea500;
    margin: auto;
}
